<
<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>users table</title>
    <link rel="stylesheet" href="{% static 'crud_app/styling.css' %}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <center>

        <h1>Users table display</h1>
        <div class="table-responsive">
            <table class="table" border="1">

                <tr>
                    <th>User Id</th>
                    <th>First Name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Salary</th>

                </tr>
                {% for i in data %}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.first_name}}</td>
                    <td>{{i.last_name}}</td>
                    <td>{{i.email}}</td>
                    <td>{{i.amount}}</td>
                    <td><a href="/del_user/{{i.id}}">delete</a></td>
                    <td><a href="/edit_user/{{i.id}}">edit</a></td>
                </tr>
                {% endfor %}

            </table>
            <a href='/'>  <input type="submit" name="home" value="home" /></a>
            </div>

    </center>

</body>
</html>
